# Numpy

Numpy is a library which provides support for large, homogeneous, multi-dimensional arrays and matrices

In [2]:
# import numpy
import numpy as np

## Creating arrays in Numpy

### Creating an array from a list

In [9]:
list1 = [10, 20, 30]
list1

[10, 20, 30]

In [10]:
arr1 = np.array(list1)
arr1

array([10, 20, 30])

In [11]:
type(arr1)

numpy.ndarray

### Using arrange to create an array

The difference between array and arrange is that array takes in a list and turns it into an array, whereas arrange creates an array from a range of numbers.

In [12]:
arr2 = np.arange(10, 20, 1) #(Start, Stop, Step-size)
arr2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

## Multidimesnional arrays

### Combining two list - Two-dimensional arrays

When we combine arrays together, we can add dimensions. Combining two arrays gives us a 2d array!

This creates a matrix for us which we can perform matrix operations.

In [13]:
# Let's create a new list to join onto the first list
list2 = [40,50,60]

# Join the lists
list3 = [list1, list2]

#Create an array out of the joined lists
arr3 = np.array(list3)
arr3

array([[10, 20, 30],
       [40, 50, 60]])

In [14]:
# Let's find the shape of that array
# We have a 2d array with 2 elements in the first instance and 3 in the second
arr3.shape

(2, 3)

## 3-dimensional arrays

In [15]:
arr3dim = np.array([[[1,2,3],[3,4,5]],[[5,6,7],[7,8,9]]])
arr3dim

array([[[1, 2, 3],
        [3, 4, 5]],

       [[5, 6, 7],
        [7, 8, 9]]])

In [16]:
arr3dim.shape

(2, 2, 3)

## Using Arrays and Scalars

Numpy arrays (or ndarray) allow us to perform matrix operations.|

In [17]:
# For example, we can use simple multiplication
arr3dim * 3

array([[[ 3,  6,  9],
        [ 9, 12, 15]],

       [[15, 18, 21],
        [21, 24, 27]]])

In [18]:
# How is this different than trying to do:
list1 * 3
# Lists and arrays are treated differently, see below:

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [19]:
# We can actually multiply an array with another array

# Create a new array with the same size as arr1
arr11 = np.array(list2)

# Multiply the arrays, what will happen?
arr1 * arr11

array([ 400, 1000, 1800])

# Can we multiply arrays of different shapes?

In [20]:
arr1 * arr2

ValueError: operands could not be broadcast together with shapes (3,) (10,)

The answer is NO!

### It is possible to multiply arrays of different dimensions, but they need the same element size!

In [21]:
arr1 * arr3dim

array([[[ 10,  40,  90],
        [ 30,  80, 150]],

       [[ 50, 120, 210],
        [ 70, 160, 270]]])

### Activity

In [23]:
list12 = [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]

arr12 = np.array(list12)
arr12

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [25]:
list34 = [[ 0,  1,  2,  3],
          [ 4,  5,  6,  7],
 [ 8,  9, 10, 11]]
arr34 = np.array(list34)
arr34

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [26]:
list254 = [
    [
        [0, 1, 2, 3],
        [4, 5, 6, 7],
        [8, 9, 10, 11],
        [12, 13, 14, 15],
        [16, 17, 18, 19]
    ],
    [
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31],
        [32, 33, 34, 35],
        [36, 37, 38, 39]
    ]
]

In [27]:
arr254 = np.array(list254)
arr254

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15],
        [16, 17, 18, 19]],

       [[20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31],
        [32, 33, 34, 35],
        [36, 37, 38, 39]]])

### Accessing the values inside ndarrays

Let's take arr3 example, this was a 2d array

In [28]:
# How can we access the 60?
arr3

array([[10, 20, 30],
       [40, 50, 60]])

In [29]:
# We can use indexing

In [30]:
arr3[1][2]

60

In [31]:
#We can just use a comma!
arr3[1,2]

60

In [32]:
# How can I get the bottom row of this ndarray?

In [33]:
arr3[1]

array([40, 50, 60])

In [34]:
#How about if we just want the last COLUMN?
#Means everything, so see below:

In [35]:
arr3[:,2]

array([30, 60])

### Statistical functions and arrays

There are a number of builtin statistical functions we can use with numpy

In [36]:
# Finding the sum of all values
arr3.sum()

210

In [37]:
# Finding the sum of all columns
arr3.sum(0)

array([50, 70, 90])

In [38]:
# Finding the sum of all rows
arr3.sum(1)

array([ 60, 150])

In [39]:
#Finding the mean
arr3.mean()

35.0

In [40]:
# Fining standard deviation
arr3.std()

17.07825127659933

In [41]:
# Finding variance
arr3.var()

291.6666666666667

In [42]:
# Finding min
arr3.min()

10

In [43]:
# Finding max
arr3.max()

60

## Iterating through ndarrays

Simplest way is to use a simple loop

In [44]:
# For a 1d array

In [45]:
for x in arr1:
    print(x)

10
20
30

In [47]:
# How about an n-dimensional array? Use nested loops

In [48]:
for dim in arr3:
    for num in dim:
        print(num)

10
20
30
40
50
60

In [49]:
# There is another way! we can use nditer

In [50]:
# This can be used in simple scenarios, but also very complex ones

In [51]:
# It tends to be much cleaner for nested loops

In [52]:
for x in np.nditer(arr3):
    print(x)

10
20
30
40
50
60

### Saving and loading in numpy

In [54]:
# To save an array as a file
np.save("new", arr3)

In [55]:
# Load a file

In [56]:
np.load("new.npy")

array([[10, 20, 30],
       [40, 50, 60]])

In [57]:
# Saving as a txt

In [58]:
np.savetxt("new.txt", arr3, delimiter=",")

In [59]:
# Loading a txt

In [60]:
np.loadtxt("new.txt", delimiter=",")

array([[10., 20., 30.],
       [40., 50., 60.]])